
div.modal
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Modal Title
      div.modal-body
        p Body
      div.modal-footer

include footer.jade

script(type='text/javascript').
  $(document).ready(function(){
    $(".modal").modal('show');
  });

