div#footer
   div.container 
      p.muted.credit Tessy &copy; 2014 

script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
script(type='text/javascript', src='/js/main.js')

