div[role=navigation] .container { margin-left: 0px; }

.container .col-md-4{
  margin: 0 auto;
  width: 40%;
  float: none;
  padding-top: 100px;
}

.container .col-md-4 .panel-default{
  padding: 5px;
}

.alert-error{
  color: #b94a48;
  background-color: #f2dede;
}

.container .btn-group{
  position: absolute;
  right:  10px;
  top:  10px;
} 

.btn-group .caret{
  margin-left: 5px;
}

.container .dropdown-menu{
  left: auto;
  right: 0;
}

@media (max-width:768px){ 
  .container .btn-group, #footer { 
    display: none;
  }
}

@media (max-width:1250px){ 
  #footer { 
    display: none;
  }
}
 
.container-fluid .row-fluid {
  margin-top: 55px;
}

.row-fluid .btn-group {
  margin-left:10px;
}

.table-responsive {
  margin-top:30px;
} 

#tc_id {
  width:10px;
}


/* Modal Styles */
.steps-input{
  width: 550px;
  height: 30px;
  padding-left: 10px;
}

.step-row{
  height: 20px;
  width: 550px;
  margin-top: 20px;
}

.modal-body {
  padding: 0px 20px 20px 20px;
}

/* Modal Styles */

#footer { 
  position: absolute;
  bottom: 0;
  width: 100%; 
  height: 60px; 
  background-color: #f5f5f5;
}

#footer .container {
  text-align: center;
}
#footer .container p {
  padding-top: 2%;
}
